main {
	width: 80%;
	max-width: 1050px;
	background-color: orange;
	border-radius: 10px;
	margin: auto;
	padding: 15px 5px;
	margin-top: 100px;
	font-family: 'Libre Franklin', sans-serif;
}

.nomUser {
	text-align: center;
	padding-bottom: 10px;
}

.username {
	width: 600px;
	margin: 10px auto;
}

.messagesFeed {
	width: 95%;
	max-width: 1000px;
	max-height: calc(100vh - 230px);
	height: fit-content;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: aliceblue;
	margin: auto;
	overflow-y: scroll;
	border: 3px solid #808080;
}

.yourMessage {
	align-self: flex-end;
	min-width: 250px;
	max-width: 400px;
	background-color: grey;
	margin: 2px;
	padding: 10px;
	border-radius: 10px;
}

.otherMessage {
	min-width: 250px;
	max-width: 400px;
	background-color: grey;
	margin: 2px;
	padding: 10px;
	border-radius: 10px;
}

#name {
	text-decoration: underline;
}

.inputZone {
	display: flex;
	width: 95%;
	height: 65px;
	margin: auto;
	border-radius: 10px;
	margin-top: 10px;
	background-color: gray;
	justify-content: space-between;
	align-items: center;
}

img {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.sendMessage {
	border: none;
	background: none;
	width: fit-content;
}

.inputZone input {
	width: 100%;
	border-radius: 10px;
	border: 1px;
	height: 35px;
	margin-left: 10px;
	font-size: 20px;
	padding-inline: 10px;
}
