main > h1,
main > h2 {
	text-align: center;
	color: #ff652f;
}

body {
	background-color: #272727;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: auto;
}

h1 {
	margin: 0;
	margin-top: 80px;
}

.container {
	margin-block: 100px;
}

button {
	display: block;
	margin: auto;
	border-radius: 25px;
	padding: 15px;
	margin-top: 2px;
	background-color: #ff652f;
	text-align: center;
	color: #272727;
	border: none;
	font-size: larger;
}

.image img {
	display: block;
	margin: 5px auto;
	border: solid 1px;
	border-radius: 25px;
}

.card {
	perspective: 1000px;
}
.content-card {
	margin: 0 auto;
	padding: 10px;
	max-width: 550px;
	width: 95%;
	color: #ff652f;
	border: solid 1px;
	border-radius: 30px;
	transition: all 0.5s ease-out;
}

.image {
	width: 100%;
}

.image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.containerStats {
	display: flex;
	justify-content: space-between;
}

.TypePV {
	display: flex;
}

.imgType img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	max-height: 50px;
	max-width: 50px;
	margin-top: 7px;
	margin-right: -7px;
	border-radius: 50px;
}

.containerStats h2 {
	margin-left: 20px;
	margin-right: 20px;
}

.containerStats .imgType {
	/* padding-left: 160px; */
}

.containerStats .imgType .img {
	height: 50px;
	width: 50px;
}

.pouvoir1,
.pouvoir2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 75px;
	padding-right: 50px;
}

.imgEtTalent1,
.imgEtTalent2 {
	display: flex;
}

.imgEtTalent1 img,
.imgEtTalent2 img {
	margin-left: -40px;
	margin-right: 20px;
	border-radius: 50px;
}

@media (width < 850px) {
	.talent1,
	.talent2,
	.degats1,
	.degats2 {
		font-size: 1.2rem;
	}
	.container {
		margin-block: 20px;
	}
}
