@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Madimi+One&display=swap');

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(19, 116, 19);
	font-family: 'Madimi One', sans-serif;
	font-weight: 400;
	font-style: normal;
	height: 100vh;
	height: calc(100vh - 80px);
	margin: 0;
}

main > h1 {
	background-color: rgb(5, 87, 5);
	width: fit-content;
	margin: auto;
	font-size: 2rem;
}

main {
	margin-top: 80px;
}

#scoreZone {
	margin-top: 15px;
	text-align: center;
	font-size: 1.5rem;
}

#gridZone {
	width: 50%;
	height: 50%;
	display: grid;
	height: auto;
	width: fit-content;
	margin: auto;
}
.cell {
	background-color: #d2dae2;
}

.snakeHead {
	background-color: rgb(19, 116, 19);
}

.snakeBody {
	background-color: rgb(16, 196, 16);
	/* border: 1px solid lightblue; */
}

.fruit {
	background-color: lightcoral;
}

#popUp {
	position: absolute;
	top: 200px;
	left: calc(50% - 75px);
	width: fit-content;
	height: fit-content;
	padding: 15px;
	background-color: lightblue;
	border: 1px solid black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: none;
}

#popUp button {
	border-radius: 5px;
	border: 1px solid;
	padding: 5px;
	/* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
	transition: box-shadow 0.3s;
}

#popUp button:hover {
	box-shadow: none;
	cursor: pointer;
	box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.mobileCommands {
	display: grid;
	grid-template-rows: repeat(2, 90px);
	grid-template-columns: repeat(3, 90px);
	gap: 1px;
	justify-content: center;
	display: none;
}

.touche {
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #00a6ed;
	color: #fff;
	font-size: 18px;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.ArrowUp {
	grid-row: 1;
	grid-column: 2;
}

.ArrowLeft {
	grid-row: 2;
	grid-column: 1;
}

.ArrowRight {
	grid-row: 2;
	grid-column: 3;
}

.ArrowDown {
	grid-row: 2;
	grid-column: 2;
}

@media (width < 768px) {
	.mobileCommands {
		display: grid;
	}
}
