<header>
	<figure>
		<a href="/#sectionPortfolio"
			><img src="/images/accueil.png" alt="image retour menue"
		/></a>
	</figure>
	<h2><a href="#sectionPortfolio">Portfolio</a></h2>
	<nav>
		<a href="/login">Compte</a>
	</nav>
</header>
