<header>
	<figure>
		<a href="/"><img src="/images/accueil.png" alt="image retour menue" /></a>
	</figure>
	<h2>Portfolio</h2>
	<nav>
		<a href="/scores">Scores</a>
		<a href="/login">Compte</a>
	</nav>
</header>
