<header>
	<figure>
		<a href="/"><img src="/images/accueil.png" alt="image retour menue" /></a>
	</figure>
	<h2><a href="#sectionPortfolio">Portfolio</a></h2>
	<nav class="header__nav">
		<a class="header__nav--link" href="/login">Compte</a>
		<a class="header__nav--link" href="#section__footer">Contact</a>
	</nav>
</header>
