<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Portfolio</title>
		<link rel="stylesheet" href="/css/accueil.css" />
		<link rel="stylesheet" href="/css/header.css" />
		<link rel="shortcut icon" href="/images/fusee.png" type="image/x-icon" />
	</head>
	<body>
		<%- include('partials/header') %>
		<main>
			<header>
				<h2 class="fromL">Pierre Guillard</h2>
				<h3 class="fromR">(futur) Développeur Web</h3>
				<p class="fromL">Fullstack / Node.JS</p>
			</header>

			<h4 id="sectionPortfolio">Mes premiers projets</h4>
			<nav class="main-nav">
				<!-- Correspond à un projet -->
				<article class="articleContainer">
					<div class="top"></div>
					<div class="window">
						<div class="windowText">Snake</div>
						<div class="ligne"></div>
						<div class="newcontainer">
							<figure class="image">
								<img src="/images/snake.png" alt="image du projet snake" />
							</figure>
							<a href="/project/snake">Voir le projet</a>
						</div>
					</div>
				</article>

				<!-- Correspond à un projet -->
				<article class="articleContainer">
					<div class="top"></div>
					<div class="window">
						<div class="windowText">Département King</div>
						<div class="ligne"></div>
						<div class="newcontainer">
							<figure class="image">
								<img
									src="/images/departementKing.png"
									alt="image du projet departement king" />
							</figure>
							<a href="/project/departementKing">Voir le projet</a>
						</div>
					</div>
				</article>

				<!-- Correspond à un projet -->
				<article class="articleContainer">
					<div class="top"></div>
					<div class="window">
						<div class="windowText">Météo API</div>
						<div class="ligne"></div>
						<div class="newcontainer">
							<figure class="image">
								<img
									src="/images/meteoAPI.png"
									alt="image du projet météo API" />
							</figure>
							<a href="/project/meteoApi">Voir le projet</a>
						</div>
					</div>
				</article>

				<!-- Correspond à un projet -->
				<article class="articleContainer">
					<div class="top"></div>
					<div class="window">
						<div class="windowText">Pokémon API</div>
						<div class="ligne"></div>
						<div class="newcontainer">
							<figure class="image">
								<img src="/images/pokemon.png" alt="image du projet pokemon" />
							</figure>
							<a href="/project/pokemonApi">Voir le projet</a>
						</div>
					</div>
				</article>

				<!-- Correspond à un projet -->
				<article class="articleContainer">
					<div class="window">
						<div class="windowText">Pendu</div>
						<div class="ligne"></div>
						<div class="newcontainer">
							<figure class="image">
								<img src="/images/pendu.png" alt="image du projet pendu" />
							</figure>
							<a href="/project/pendu">Voir le projet</a>
						</div>
					</div>
				</article>

				<!-- Correspond à un projet -->
				<article class="articleContainer">
					<div class="top"></div>
					<div class="window">
						<div class="windowText">Pierre Feuille Ciseaux</div>
						<div class="ligne"></div>
						<div class="newcontainer">
							<figure class="image">
								<img
									src="/images/PFC.png"
									alt="image du projet pierre feuille ciseaux" />
							</figure>
							<a href="/project/pierreFeuilleCiseaux">Voir le projet</a>
						</div>
					</div>
				</article>
			</nav>
		</main>
	</body>
</html>
