<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Portfolio</title>
		<link rel="stylesheet" href="/css/accueil.css" />
		<link rel="stylesheet" href="/css/header.css" />
		<link rel="shortcut icon" href="/images/fusee.png" type="image/x-icon" />
	</head>
	<body>
		<%- include('partials/header') %>
		<main>
			<header>
				<h2 class="fromL">Pierre Guillard</h2>
				<h3 class="fromR">Développeur Web</h3>
				<p class="fromL">Fullstack</p>
			</header>

			<h4 id="sectionPortfolio">Mes premiers projets</h4>
			<nav class="main-nav">
				<!-- Correspond à un projet -->
				<article class="articleContainer">
					<div class="window">
						<div class="windowText">Snake</div>
						<div class="ligne"></div>
						<div class="newcontainer">
							<figure class="image">
								<img src="/images/snake.png" alt="image du projet snake" />
							</figure>
							<a href="/project/snake">Voir le projet</a>
						</div>
					</div>
				</article>

				<!-- Correspond à un projet -->
				<article class="articleContainer">
					<div class="window">
						<div class="windowText">Département King</div>
						<div class="ligne"></div>
						<div class="newcontainer">
							<figure class="image">
								<img
									src="/images/departementKing.png"
									alt="image du projet departement king" />
							</figure>
							<a href="/project/departementKing">Voir le projet</a>
						</div>
					</div>
				</article>

				<!-- Correspond à un projet -->
				<article class="articleContainer">
					<div class="window">
						<div class="windowText">Météo API</div>
						<div class="ligne"></div>
						<div class="newcontainer">
							<figure class="image">
								<img
									src="/images/meteoAPI.png"
									alt="image du projet météo API" />
							</figure>
							<a href="/project/meteoApi">Voir le projet</a>
						</div>
					</div>
				</article>

				<!-- Correspond à un projet -->
				<article class="articleContainer">
					<div class="window">
						<div class="windowText">Pokémon API</div>
						<div class="ligne"></div>
						<div class="newcontainer">
							<figure class="image">
								<img src="/images/pokemon.png" alt="image du projet pokemon" />
							</figure>
							<a href="/project/pokemonApi">Voir le projet</a>
						</div>
					</div>
				</article>

				<!-- Correspond à un projet -->
				<article class="articleContainer">
					<div class="window">
						<div class="windowText">Pendu</div>
						<div class="ligne"></div>
						<div class="newcontainer">
							<figure class="image">
								<img src="/images/pendu.png" alt="image du projet pendu" />
							</figure>
							<a href="/project/pendu">Voir le projet</a>
						</div>
					</div>
				</article>

				<!-- Correspond à un projet -->
				<article class="articleContainer">
					<div class="window">
						<div class="windowText">Pierre Feuille Ciseaux</div>
						<div class="ligne"></div>
						<div class="newcontainer">
							<figure class="image">
								<img
									src="/images/PFC.png"
									alt="image du projet pierre feuille ciseaux" />
							</figure>
							<a href="/project/pierreFeuilleCiseaux">Voir le projet</a>
						</div>
					</div>
				</article>
			</nav>

			<h2 class="main__title--presentation">Qui suis-je ?</h2>
			<section class="main__description">
				<figure>
					<img src="/images/PierreG.jpg" alt="Photo de Pierre Guillard" />
				</figure>
				<p class="main__description--text">
					Enseignant pendant 6 ans avant de me reconvertir dans le développement
					Informatique. <br />
					Actuellement en formation chez O'clock jusqu'au mois de septembre
					2024.
					<br />
					Je suis à la recherche de ma première expérience professionnelle de
					développeur pour mettre en pratique mes nouvelles compétences et
					continuer à progresser
				</p>
			</section>
			<section class="main__presentation">
				<!-- <h3 class="main__presentation--title">Pierre Guillard</h3> -->

				<p class="main__presentation__step--top">
					Enseignant pendant 6 ans (2017-2023)
				</p>
				<p class="main__presentation__step--down modification">
					En formation chez O'clock depuis janvier 2024
				</p>
				<p class="main__presentation__step--top">
					Mon prochain objectif : trouver un stage, une alternance ou un emploi
					!
				</p>
			</section>
		</main>
		<footer>
			<h3>Contact</h3>
			<section class="footer__contact">
				<figure>
					<a href=""><img src="" alt="" /></a>
				</figure>
				<figure>
					<a href=""><img src="" alt="" /></a>
				</figure>
				<p>pguillard95@gmail.com</p>
			</section>
		</footer>
	</body>
</html>
