<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chat quasi-instantanné</title>
		<link rel="stylesheet" href="/css/chat.css" />
		<link rel="stylesheet" href="/css/header.css" />
		<link rel="shortcut icon" href="/images/fusee.png" type="image/x-icon" />
		<script src="/js/chat.js" defer></script>
	</head>
	<body>
		<%- include('partials/header') %>
		<main>
			<div class="messagesFeed">
				<div class="message otherMessage" data-id="">
					<div class="author" slot="author">
						<strong>Pierre Guillard :</strong>
					</div>
					<div class="textContent" slot="content">
						Vous voici sur mon projet de chat, n'hésitez pas à poster un message
						pour marquer votre passage :) Les messages ne sont pas encore
						instantanés mais j'y travaille !
					</div>
				</div>
			</div>
			<% if (locals.user) { %>
			<form class="inputZone" method="post" action="">
				<input
					type="text"
					id="content"
					name="content"
					autocomplete="off"
					placeholder="Tapez votre message" />
				<button class="sendMessage" type="submit">
					<img
						src="/images/send.png"
						alt="icone envoyer message"
						id="btnEnvoyerMessage" />
				</button>
			</form>
			<% } else { %>
			<div class="info">
				<p style="text-align: center">
					Si tu veux envoyer un message dans le chat, tu dois d'abord te créer
					un compte.
				</p>
			</div>
			<% } %>
		</main>

		<template id="message">
			<div class="message" data-id="">
				<div class="author" slot="author"><strong></strong></div>
				<div class="textContent" slot="content">Bienvenue sur mon chat</div>
			</div>
		</template>
	</body>
</html>
