<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Portfolio</title>
		<link rel="stylesheet" href="/css/header.css" />
	</head>
	<body>
		<%- include('partials/header') %>

		<main style="margin-top: 100px">
			<H2 style="text-align: center"
				>Désolé cette fonctionnalité n'est pas encore codée...</H2
			>
			<p style="text-align: center">Mais ça va venir !</p>
		</main>
	</body>
</html>
