<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pendu</title>
		<script src="/js/pendu.js" defer></script>
		<link rel="stylesheet" href="/css/pendu.css" />
		<link rel="stylesheet" href="/css/header.css" />
		<link rel="shortcut icon" href="/images/fusee.png" type="image/x-icon" />
	</head>

	<body>
		<main>
			<%- include('partials/header') %>
			<h1>Jeu du pendu</h1>
			<div id="imageDuJeu"></div>
			<div class="container">
				<div class="motADeviner2"></div>
			</div>

			<div class="container2"></div>
			<div class="clavierEntier">
				<div class="clavierLigne">
					<div class="boiteLettre">
						<img src="/images/pendu/a.png" class="a" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/z.png" class="z" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/e.png" class="e" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/r.png" class="r" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/t.png" class="t" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/y.png" class="y" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/u.png" class="u" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/i.png" class="i" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/o.png" class="o" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/p.png" class="p" />
					</div>
				</div>
				<div class="clavierLigne">
					<div class="boiteLettre">
						<img src="/images/pendu/q.png" class="q" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/s.png" class="s" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/d.png" class="d" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/f.png" class="f" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/g.png" class="g" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/h.png" class="h" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/j.png" class="j" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/k.png" class="k" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/l.png" class="l" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/m.png" class="m" />
					</div>
				</div>
				<div class="clavierLigne">
					<div class="boiteLettre">
						<img src="/images/pendu/w.png" class="w" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/x.png" class="x" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/c.png" class="c" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/v.png" class="v" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/b.png" class="b" />
					</div>
					<div class="boiteLettre">
						<img src="/images/pendu/n.png" class="n" />
					</div>
				</div>
			</div>
			<div class="popup">
				<div class="resultat">Bravo !</div>
				<button class="nouveauMot">Nouveau mot</button>
			</div>
			<footer>
				<p>Projet réalisé par Pierre Guillard</p>
				<p>Débuté le 03/08/2023</p>
				<a
					href="https://www.flaticon.com/free-icons/alphabet"
					title="alphabet icons"
					>Alphabet icons created by Rohim - Flaticon</a
				>
			</footer>
		</main>
	</body>
</html>
