<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/PFC.js" defer></script>
    <link rel="stylesheet" href="/css/pierreFeuilleCiseaux.css">
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="shortcut icon" href="/images/fusee.png" type="image/x-icon" />
<body>
    <%- include('partials/header') %>
    <main>
        <h1>Pierre Feuille Ciseaux</h1>
       <div id="choixUtilisateur"> 
        <img src="/images/PFC/rock.png" alt="pierre" id="0">
        <img src="/images/PFC/Hand.png" alt="feuille" id="1">
        <img src="/images/PFC/scissor.png" alt="ciseaux" id="2"></div>

        <div id="resultat">Cliquez sur une image pour faire votre choix</div>
        <div id="score">Votre score est de 0/0</div>
        
    </main>
    <footer>
        <p>Projet réalisé par Pierre Guillard</p>
        <p>Débuté le 29/07/2023</p>
    </footer>

</body>
</html>